/Il2Native/obj
/Il2Native/bin
/Il2Native.Logic/obj
/Il2Native.Logic/bin
/Ll2NativeTests/obj
/Ll2NativeTests/bin
/TestResults
/Il2Native.CmdLine.csproj.user
/Il2Native.sln.DotSettings.user
/Il2Bc.sln.DotSettings.user
/*.suo
/CoreLib/obj
/CoreLib/bin
/CoreSource/obj
/CoreSource/bin
/CSharpSource/obj
/CSharpSource/bin
/PEAssemblyReader/obj
/PEAssemblyReader/bin
StyleCop.Cache
/packages
/PdbReader/obj
/PdbReader/bin
/Il2Native.Logic/Resources/Impl.zip
/mscorlib/bin
/mscorlib/obj
/Il2Native.VC.db
/Il2Native.VC.VC.opendb
/.vs
/Ll2NativeTests/bin/Debug/TestsOutput/CoreLib/bdwgc/
/Ll2NativeTests/bin/Debug/sscli_tests/
/Ll2NativeTests/bin/Debug/mono_tests/
/Ll2NativeTests/bin/Debug/coreclr_tests/
