/Il2Native/obj
/Il2Native/bin
/Il2Native.Logic/obj
/Il2Native.Logic/bin
/Ll2NativeTests/obj
/Ll2NativeTests/bin
/TestResults
/Il2Native.sln.DotSettings.user
/Il2Bc.sln.DotSettings.user
/*.suo
/CoreLib/obj
/CoreLib/bin
/CoreSource/obj
/CoreSource/bin
/CSharpSource/obj/Debug
/CSharpSource/bin
/PEAssemblyReader/obj
/PEAssemblyReader/bin
StyleCop.Cache
/packages
/PdbReader/obj
/PdbReader/bin
/mscorlib/obj/Debug
/mscorlib/bin/Debug
